* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #16a086;
  flex-direction: column;
}
body .About_Us {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .Lorem {
  margin-top: 15px;
  font-size: 15px;
}
.info {
  display: flex;
  flex-direction: row;
  height: 419px;
  width: 723px;
  margin-top: 40px;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}
.info .info_photo {
  max-width: 224px;
  height: 419px;
  width: 221px;
  background: #FFFFFF;
  color: #444444;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  width: 220px;
  height: 420px;
  align-items: center;
}
.info .info_photo .person {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.info .info_photo .person:hover .social {
  opacity: 1;
}
.info .info_photo .person .social {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  width: 180px;
  height: 50px;
  background: rgba(22, 160, 135, 0.637);
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s linear;
}
.info .info_photo .person .social img {
  height: 25px;
  padding: 0 5px;
}
.info .info_photo .person .social img:hover {
  animation: beanbag 0.5s linear;
}
.info .info_photo .name {
  margin-top: 20px;
  font-size: 18px;
}
.info .info_photo .function {
  font-style: italic;
  font-size: 13px;
}
.info .info_photo .description {
  width: 195px;
  height: 92px;
  margin-top: 20px;
  font-size: 15px;
}
@keyframes beanbag {
  0% {
    transform: rotate(20deg);
  }
  15% {
    transform: rotate(-20deg);
  }
  30% {
    transform: rotate(20deg);
  }
  45% {
    transform: rotate(-20deg);
  }
  60% {
    transform: rotate(20deg);
  }
  45% {
    transform: rotate(-20deg);
  }
  90% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
@media (min-width: 468px) and (max-width: 768px) {
  body {
    overflow-y: unset;
  }
  body .info {
    flex-wrap: wrap;
    width: 100%;
    max-width: 655px;
    justify-content: space-evenly;
  }
  body .info_photo:nth-child(3n) {
    margin-top: 50px;
    align-self: center;
  }
}
@media (max-width: 468px) {
  body {
    overflow-y: unset;
    height: 1450px;
  }
  body .info {
    flex-direction: column;
    align-items: center;
    height: 1300px;
  }
  body .info_photo {
    margin-bottom: 25px;
  }
}
